* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
.title-section {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #252525;
}
.title-section-cap {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #252525;
}
